<font size="6"> Introduction </font>  

<font size="4" style="color:blue;">Draft Picks as of August 24, 2024 </font>

<p>Here it is guys! The complete draft order for the upcoming 2024 draft. Picks will be updated as they change. Below are your available picks for 2025</p>

In [16]:
import pandas as pd

In [17]:
vc2024 = pd.read_csv('/Users/blairjdaniel/VENV/Vancity/DF/2024_actual.csv').style.set_properties(**{'text-align': 'left'})
vc2024

In [18]:
vc2025 = pd.read_csv('/Users/blairjdaniel/VENV/Vancity/DF/2025.csv').style.set_properties(**{'text-align': 'left'})
vc2025